ul.navbar-horizontal li{

    float:left;
    
    display:inline;
    
    }
.navbar-horizontal{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.Speech{

    color: black;
    font-family: monospace;
    font-size: 15px;
}
.song{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.name{
    color: black;
    font-family: monospace;
    font-size: 20px;
    display: inline;
}
.direction{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.direction:hover{
    color:blue;
    background-color: azure;
}
.name:hover{
    color:rgb(255, 234, 0);
    background-color: azure;
    text-shadow: 4px 4px 4px rgb(184, 8, 43);
    border: 1px solid black;

}
.CHO{

    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.NICE{

    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.SILL{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.PRET{
    color: rgb(102, 255, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.THES{
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.MER{
    color: rgb(121, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .singers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .singers td, .singers th {
    border: 1px solid rgb(255, 0, 0);
    padding: 8px;
  }
  
  .singers tr:nth-child(even){background-color: #f2f2f2;}
  
  .singers tr:hover {background-color: rgb(228, 183, 183);}
  
  .singers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(0, 255, 13);
    color: rgb(0, 0, 0);
  }